
div {
  width:49%;
  display:inline-block;
  min-height: 200px;
  text-align: center;
  padding: 0px 0px;
    }

.outer-frame {
  width: 50%;
  padding: 0 auto;
}

.red {

  background: red;
}
.blue {

  background: blue;
}
.green {

  background: green;
}
.black {

  background: black;
}
